html
  head
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
    title
  body
    h1
      | Description of the Product
    h2(class="header2") #{item.plNumber}
    div(class="product-properties") Product Name: #{item.name}
    div(class="product-properties") Dose: #{item.dose}
    div(class="product-properties") Substance: #{item.substance}
    a(href=item.url, class= "url") 
      | CLICK FOR INFORMATION
